@import "../../stylesheet/variables.scss";

.Navbar {
  max-width: $max__width;
  margin: 0 auto;
}

.NavbarContainer {
  margin: 4px auto;
}

.NavbarLink {
  text-decoration: none;
  color: #fff;
  font-family:  $font__jekoBold; 
  display: flex;
  flex-direction: column;
  width: 150px;
  padding: 4px;

  &.Home {
    width: 110px;
    margin-left: 20px;
  }

  &.AboutMe {
    width: 160px;
  }

  &.active {
    color: $green__light;
  }
}

.PageNumber {
  font-size: 25px;
  margin-left: auto;
}

.PageName {
  font-size: 25px;
}

// TODO: Should I add animated border bottom on hover for each link?
@keyframes FadeInForward {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }

  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
